/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Capital X
Version:	1.1
Last change:	25/11/2015   
Primary use:	Capital X
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
1. EFFECTS
2. GENERAL
3. HEADER
4. SLIDER
5. ALREADY EARN
6. NEW SERVICE
7. SERVICES
8. NEWS
9. TRAINING VIDEO
10. INVESTMENT
11. PRICE
12. CLIENT LOGO
13. CUSTOMER REVIEW
14. CONTACT
15. FOOTER 
16. SERVICES PAGE
17. CONVENNIENT SERVICE
18. GET ADVICE
19. NEWS SLIDE SHOWS
20. PRICES PAGE
21. CORPORATE
21. CONTACT US PAGE
22. NEWS PAGE
23. SINGLE NEWS PAGE
24. ABOUT US PAGE
25. OFFLINE PAGE
26. ERROR PAGE
27. COLOR CUSTOMIZER

-------------------------------------------------------------------*/
/*
EFFECTS
*/
.c-transtion{transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -webkit-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out;}
.c-transtion_fast{transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


/*
GENERAL
*/
a{color: #2a2e3c;}
body{font-family: "Lato", "sans serif"; color: #2a2e3c;}
p {color: #2a2e3c; font-size: 16px; font-weight: 300; line-height: 30px;}
h1{margin: auto; font-size: 30px; color: #2a2e3c;}
#map{min-height: 330px;}
.c-fixed .c-header_navbar {background: #e4eff9 none repeat scroll 0 0; position: fixed; top: 0; z-index: 99999;}
.c-green_but{@include border-radius(5px); color: #eef5fc; display: inline-block; font-size: 16px;  min-width: 120px; padding: 10px 0; text-align: center; background: #00a888; text-transform: capitalize;}
.c-section_header{position: relative;}
.c-section_header .c-blank_strip{height: 44px; position: absolute; left: 0; top: 0;}
.c-section_header h2{padding-right: 150px; height: 44px; margin: auto; display: inline-block; color: #eef5fc; font-size: 30px; text-transform: uppercase;}
.c-section_content{background: #2a2e3c; padding: 100px 0;}
.c-section_header h2 span{position: relative; top: 35px;}
.c-section{padding: 70px 0;}
.c-section h1{color: #2a2e3c; font-size: 30px; margin: auto auto 40px; text-align: center; text-transform: uppercase;}
.c-inner_banner {
	background: #2a2e3c;
	img{margin: auto;}
}	
.c-video_pop div {height: 100%; left: 0;position: absolute; top: 0; width: 100%;}
.c-form_res{font-weight: 400; margin: auto; display: none; position: relative; text-align: center; top: 15px;}
.c-form_res.fail{color: red;}
.c-form_res.succ{color: green;}
.c-banner_breadcrum{
	background: #f1f7fc;
	padding: 20px 0;
	ul{padding: 0;}
	li,a{display: inline-block; color: #2a2e3c; font-family: "lato"; font-size: 16px;}
	a{padding-right: 5px; margin-right: 8px; position: relative;}
	a:after{position: absolute; content: "/"; right: -5px; top: 0; display: block; }
}

@media (max-width: 1279px) {
	.c-section_header h2{font-size: 24px;}
	.c-free_consult a{padding: 10px}
}
@media (max-width: 1023px) {
	.c-section_header h2{font-size: 24px;}
	p{ font-size: 15px; line-height: 22px;}
}
@media (max-width: 767px) {
	.c-section_content{padding: 50px 0;}
	p{ font-size: 14px; line-height: 20px;}
	.c-section_header h2{display: block; font-size: 24px; padding-left: 15px; padding-right: 0;}
}
/*
HEADER
*/
.c-strip_header{
	background: #2a2e3c; padding: 15px 0;
	.c-header_info{padding-top: 2px;}
	.c-header_info *{display: inline-block;}
	.c-header_info{a{color: #eef5fc; font: 300 14px;}}
	.fa{font-size: 12px; padding-right: 3px;}
	.c-header_call{padding-right: 15px; margin-right: 15px; border-right: 1px solid #616582;}
	.c-header_login{text-align: right;}
	.c-header_login a{font:14px; color: #eef5fc; padding: 5px 10px; border: 1px solid #eef5fc; @include border-radius(3px); min-width: 65px; display: inline-block; text-align: center; font-size: 12px; line-height: 11px;}
	a.c-header_sign{background: #00a888; border-color: #00a888;}
	a.c-header_register{padding-left: 15px; margin-left: 15px; position: relative;}
	a.c-header_register:after{content: ""; display: block; border-right: 1px solid #616582; height: 20px; left: -10px; top: 0; position: absolute;}
	.fa.fc-user {color: #fff; font-size: 14px; position: relative; right: 4px; top: 2px;}
}
.c-header{position: relative;}
.c-header_navbar{position: absolute; width: 100%; top: 53px; left: 0; background: rgba(228,239,249,.8); z-index: 99;}
.c-header_logo{padding-top: 35px; padding-bottom: 35px;}

@media (max-width: 767px) {
	.c-strip_header .c-header_info{text-align: center;}
	.c-strip_header .c-header_login{text-align: center; padding-top: 5px;}
	.c-header_logo{padding: 7px 0; text-align: center;}
	.c-header_navbar{top: 78px;}
	.c-header_logo > .row{margin: auto;}
}

/* minimal styles for that navi */
.c-header_nav{text-align: right;}
.c-main_nav {margin: 0 auto; max-width: 100%;}
.c-main_nav ul {margin: 0; padding:0; list-style: none;}
.c-main_nav ul.c-main_nav-mobile{ position: absolute; top: 22px; z-index: 999999;}
.c-main_nav ul:after {content: ""; clear: both; display: block;}
.c-main_nav ul li {float: left; padding: 45px 25px 0; position: relative;}
.c-main_nav ul li:hover {color: #000000;}
.c-main_nav ul li:hover > ul {display: block;}
.c-main_nav ul li:hover a{color: #fff;}
.c-main_nav ul li a {color: #fff; display: block; text-decoration: none;}
.c-main_nav.style ul li a:hover{color: #000000;}
.c-main_nav ul ul {display: none; margin:0; padding: 0; position: absolute; top: 100%;}
.c-main_nav ul ul li {float: none; position: relative;}
.c-main_nav ul ul li:after,.c-main_nav ul li:last-child::after{display: none;}
.c-main_nav ul ul li a{color: #fff;}
.c-main_nav ul ul li a:hover {background: #202020;}
.c-main_nav ul ul ul {position: absolute; left: 100%; top:0; width: 100%;}

/* mobile menu header button */ 
.c-main_nav-closed ~ .c-main_nav-mobile {display: none!important;}
.c-main_nav-toggled-controls{width: 100%;}
.c-main_nav-toggled-title{width: 60%; float: left; font-size: 27px; color: #fff; font-weight:600; display: block; padding: 8px 0; text-decoration: none; text-transform: uppercase; text-align: left; padding-left: 35px;}

/* normalny back button visible only on mobiles  */
.c-main_nav .c-main_nav-back{display: none; font-size: 12px;}
.c-main_nav .c-main_nav-back:after {display: none;}
.c-main_nav-mobile .c-main_nav-back{display: block;}

/* mobile menu list */
.c-main_nav-mobile{width: 100%;}
.c-main_nav-mobile .c-main_nav-dropdown:hover ~ ul, .c-main_nav-mobile .c-main_nav-dropdown:hover > ul ,.c-main_nav-mobile .c-main_nav-dropdown:hover + ul {display: none!important;}
.c-main_nav-mobile ul{width: 100%; position: inherit!important;}
.c-main_nav-mobile li{width: 100%; }

/* mobile menu js action */
.c-main_nav-dropdown{display: block!important;}
.c-main_nav-mobile .c-main_nav-subview{display: block!important; width: 100%;}
.c-main_nav-mobile .c-main_nav-subover-hidden{display: none!important;}
.c-main_nav-mobile .c-main_nav-subover-visible{display: block;}
.c-main_nav-mobile .c-main_nav-subover-header{display: none!important; padding: 0; margin: 0;}

/* mobile menu content */
.c-main_nav-mobile .c-main_nav-submenu{position: relative; left: 0px;}

.c-main_nav .c-main_nav-mobile li:hover > ul {display: none;}

/* arrow down for wide screen */
.c-main_nav.style {text-align: left; display: block;}
.c-main_nav.style ul {text-align:left;}
.c-main_nav.style ul li {text-align:left;} 
.c-main_nav.style ul ul li{padding:0;  background: #FFFFFF;}
.c-main_nav.style ul ul {display: none; margin:0; min-width: 165px; border-radius: 0px; padding: 0; padding-top: 15px; position: absolute; z-index: 9999;}
.c-main_nav.style ul li a {color: #2a2e3c; font: 400 16px/18px "lato","sans-serif"; position: relative;}
.c-main_nav.style > ul > li.c-active_nav > a::before,.c-main_nav.style > ul > li:hover > a::before{position: absolute; content: ""; display: block; width: 100%; height: 8px; left: 0; top: -45px; @extend .c-transtion;}

.c-main_nav.style ul ul li a {background: #fefeff none repeat scroll 0 0; border-bottom: 1px solid #dedede; color: #969696; display: block; font: 400 13px/18px "Roboto","sans-serif"; padding: 10px 0 10px 20px;}
.c-main_nav.style ul ul li a:hover {background: #ebebeb; color: #000000;}
.c-main_nav.style ul.c-main_nav-mobile ul{padding: 0;}
.c-main_nav-menu > li:last-child{padding-right: 0;}

/* arrow left for wide screen submenus  */
.c-main_nav.style ul ul li > a:not(:only-child):after .c-main_nav-dropdown::after {content: ">"; display: block; font-family: montserrat; position: absolute;right: 0; top: 0;}

/* mobile style */
.c-main_nav.style .c-main_nav-mobile li > a:not(:only-child):after {content: ">";display: block; font-family: "lato","sans-serif"; font-size: 20px; position: absolute; right: 15px; top: 10px;}
.c-main_nav.style .c-main_nav-mobile li {padding: 0;}
.c-main_nav.style .c-main_nav-mobile li a{background: #fefeff none repeat scroll 0 0; border-bottom: 1px solid #dedede; color: #969696; padding: 10px 0 10px 20px;}
.c-main_nav.style .c-main_nav-mobile li::after{display: none;}
.c-main_nav ul.c-main_nav-mobile li ul::before{display: none;}
.c-main_nav.style ul.c-main_nav-mobile li ul li{padding: 0; border: none;}
.c-main_nav-toggled{margin: auto auto 10px; text-align: center;}
.c-main_nav-toggled::after {clear: both; content: ""; display: block;}
/*
SLIDER
*/
.c-slider{position: relative;}
.c-single_banner_text{position: absolute; top: 35%; left: 0; right: 0;}
.c-color_box{padding: 30px 15px; display: inline-block;}
.c-color_box h1{color: #eef5fc; font-size: 26px; text-transform: uppercase; font-weight: 300; margin: auto;}
.c-trans_box{padding: 45px 30px; background: rgba(255,255,255,.8); max-width: 500px; position: absolute; left: 150px;}
.c-trans_box,.c-trans_box a{font-size: 18px; color: #2a2e3c; text-transform: uppercase; font-weight: 300;}
.c-trans_box a{padding-left: 20px;}

@media (min-width: 768px) {
	.c-main_nav.style{float: right;}
}
@media (max-width: 1023px) {
	.c-color_box{padding: 15px 20px;}
	.c-trans_box{padding: 15px;}
	.c-trans_box > p {margin-bottom: 0;}
	.c-color_box h1{font-size: 22px}
	.c-main_nav ul li{padding: 45px 15px 0;}
}
@media (max-width: 767px) {
	.c-main_nav ul li{width: 100%;}
	.fa.fc-navicon {font-size: 24px; cursor: pointer;}
	.c-slider{padding-top: 100px;}
	.c-trans_box{display: none;}
	.c-header_nav{text-align: center;}
	.c-main_nav ul.c-main_nav-mobile{left: 0;}
	.bx-wrapper .bx-controls-direction a,div.c-newser_thumbs > div:nth-child(1) div{z-index: 51;} 
	.c-main_nav.style ul li.c-active_nav a::before, .c-main_nav.style ul li:hover a::before{height: 0;}
}
/*
ALREADY EARN
*/
.c-already_earn{
	position: relative;
	div.c-bg_strip{position: absolute; top: 44px; left: 0; width: 100%;}
	.row{position: relative; z-index: 999;}
	.c-section_header h2{padding-left: 40px;}
	.c-earning_detail{
		background: #e4eff9; padding: 40px; margin-top: 60px;
		p{max-width: 530px; line-height: 28px;}
		.c-price_counter{
			width: 300px; height: 80px; text-align: center; line-height: 80px; background: #FFFFFF; margin-bottom: 30px;
			span{font-weight: 300; color: #2a2e3c; font-size: 36px;}
		}

	}
}
@media(max-width: 767px){
	.c-already_earn .c-earning_detail{padding: 20px;}
	.c-already_earn .c-section_header h2{display: block; padding-right: 0; padding-left: 20px;}
	.c-already_earn .c-earning_detail p{max-width: auto;}
	.c-already_earn img {margin: auto;}
	.c-already_earn .c-earning_detail .c-price_counter{width: auto;}
} 
/*
NEW SERVICE
*/
.c-newser_thumbs{padding: 0; margin-bottom: 190px; padding-left: 65px;}
.c-newser_thumbs div{width: 251px; height: 185px; float: left; position: relative;}
.c-newser_thumbs > div:nth-child(1){
	div{position: absolute; padding: 40px 50px; background: #e4eff9; max-width: 360px; min-height: 270px; width: 100%; min-width: 360px; z-index: 99; top: -115px; left: -65px;}
	h2{color: #2a2e3c; font-size: 30px; text-transform: uppercase; margin: auto;}
	ul{padding-left: 0; margin-top: 20px;}
	li{padding: 7px 0;}
	a{font-weight: 300; color: #2a2e3c; font-size: 16px;}
}
.c-newser_thumbs > div:last-child{
	 div{position: absolute; padding: 40px 50px; background: #e4eff9; max-width: 360px; min-height: 270px; width: 100%; min-width: 360px; z-index: 99; bottom: -115px; right: -65px;}
	 p{font-weight: 300; color: #2a2e3c; font-size: 16px; line-height: 28px;}
	 a{color: #eef5fc; font-size: 16px; background: #00a888; display: inline-block; padding: 10px 20px; @include border-radius(5px); margin-top: 20px;}
}

@media (max-width: 1279px) {
	.c-newser_thumbs{padding: 0;}
	.c-newser_thumbs > div:nth-child(1) div{position: relative; left: 0; top: 0; padding: 10px; min-width: auto;  height: auto; min-height: auto; height: 100%;}
	.c-newser_thumbs > div:last-child div{position: relative; left: 0; bottom: 0; padding: 10px; min-width: auto;  height: auto;  min-height: auto; height: 100%;}
	.c-newser_thumbs > div:nth-child(1) li{padding: 2px 0;}
	.c-newser_thumbs div{width: 25%;}
	.c-newser_thumbs > div:last-child p{font-size: 15px; line-height: 22px;}
	.c-newser_thumbs > div:last-child a{margin-top: 10px;}
	.c-single_banner_text{left: 100px;}
}
@media (max-width: 1023px) {
	.c-newser_thumbs > div:nth-child(1) h2{font-size: 22px}
	.c-newser_thumbs > div:nth-child(1) ul{margin-top: 10px;}
	.c-newser_thumbs > div:nth-child(1) a{font-size: 14px; line-height: 16px;}
	.c-newser_thumbs{margin-bottom: 80px;}
	.c-newser_thumbs > div:last-child a{display: none;}
}
@media (max-width: 767px) {
	.c-newser_thumbs div{width: 100%; float: none; margin: 10px auto; max-width: 251px;}
	.c-single_banner_text{left: 0; margin: auto; max-width: 280px; text-align: center;}
	.c-color_box{padding: 10px;}
}
@media (max-width: 479px) {
	.c-color_box h1{font-size: 14px;}
}
/*
SERVICES
*/
.c-services{padding: 30px 0; background: #4a4e5c;}
.c-services .row > div{float: left;}
.c-service_info{
	padding: 15px 40px; background: #e4eff9; display: inline-block; min-width: 290px; margin-top: -30px;
	a{color: #2a2e3c; font-size: 18px; text-transform: uppercase;}
	span{display: block; font-size: 16px; color: #2a2e3c; font-weight: 300;}
}
.owl-item {float: left;}
.owl-carousel{overflow: hidden;}
.c-services .container{position: relative;}
.c-service_nav {position: absolute; right: 25px; top: -90px;}
.c-service_nav div{
	display: inline-block;
	span{display: inline-block; text-indent: -9999px; background-repeat: no-repeat; width: 19px; height: 32px; cursor: pointer;}
	span:hover{background-position: 0px -32px;}
}
.c-service_nav div.c-arrow_left span{background-image: url("../images/arrow_left.png"); position: relative; right: 90px;}
.c-service_nav div.c-arrow_right span{background-image: url("../images/arrow_right.png");}

@media (max-width: 1279px) {
	.c-services .owl-item{margin: 0 8px 0 0;}
}
@media (max-width: 767px) {
	.c-services .owl-item{margin: 0 0px;}
	.c-service_nav div.c-arrow_left span{right: 20px;}
}
/*
NEWS
*/
.c-single_news_list{padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #ececed; position: relative;}
.c-news_list_content{position: static;}
.c-news_list_content h2{margin: auto; line-height: 28px; font-size: 18px;}
.c-news_list_content h2 a{font-size: 18px; color: #2a2e3c; text-transform: uppercase;}
.c-news_list_content p{font-size: 16px; font-weight: 300; color: #2a2e3c; padding:20px 0; line-height: 30px; margin: auto;}
.c-news_list_content ul{padding: 0; text-align: right; position: absolute; bottom: 18px; width: calc(100% - 30px); max-width: 355px;}
.c-news_list_content ul li{display: inline-block; margin-left: 20px;}
.c-news_list_content ul li a{font-size: 14px; font-weight: 300; color: #2a2e3c; text-transform: uppercase;}
.c-news_list_content ul li:first-child{float: left; margin: auto}
.c-news_list_content ul li:first-child a{color: #00a888;}
.c-news_list_sub img{position: relative; top: 35px;}

@media (max-width: 1279px) {
	.c-news_list_content p{padding: 10px 0; font-size: 14px; line-height: 22px;}
	.c-news_list_content ul{max-width: 320px;}
	.c-news_listing{overflow: hidden;}
}
@media (max-width: 1023px) {
	.c-news_list_content p{margin: auto; padding: 0;}
	.c-news_list_sub img{top: auto;}
	.c-single_news_list img{margin: auto;}
	.c-news_list_content ul{left: 0; margin: auto; right: 0; bottom: 10px;}
	.c-single_news_list{padding-bottom: 35px;}
	.c-news_list_content{text-align: center;}
}
@media (max-width: 767px) {
	.c-news_list_content ul li a{font-size: 11px;}
	.c-news_listing{padding: 15px;}
	.c-news_list_content h2 a{font-size: 16px}
}
 
/*
TRAINING VIDEO
*/
.c-training_left{float: left; width: 32%;}
.c-training_right{float: right; width: 66%; position: relative;}
.c-training_right video{width: 100%;}
.c-training_video .c-section_content{padding: 50px 0;}
.c-training_left {
	h2{margin: auto; color: #eef5fc; font-size: 18px; text-transform: uppercase; line-height: 24px; margin-bottom: 5px;}
    p{color: #eef5fc; line-height: 24px; margin: auto; padding:5px 0 10px;}
    span{display: block; font-size: 24px; color: #eef5fc; font-weight: 300; margin-bottom: 35px;}
    span.c-color_price{display: inline-block; margin: auto;}
}    
.c-training_right img {position: absolute; top: -94px;}
.c-training_right video{position: absolute; top: -94px;}
@media (max-width: 1023px) {
	.c-training_left{width: 44%;}
	.c-training_right{width: 55%;}
	.c-free_consult .c-training_left p{line-height: 22px;}
	.c-free_consult .c-consult_call{margin-top: 10px;}
}
@media (max-width: 767px) {
	.c-training_right img{position: static;}
	.c-training_left{width: 100%; margin-bottom: 30px;}
	.c-training_right{width: 100%;}
	.c-training_video .c-section_content{padding: 40px 0 0;}
	.c-training_content{padding: 0 15px;}
}
/*
INVESTMENT
*/
.c-investment{
	padding: 100px 0 80px;
	h1{color: #000000; font-size: 30px; text-transform: uppercase; margin: auto; text-align: center;}
	p{max-width: 740px; margin: auto; text-align: center; color: #000000; font-size: 16px; font-weight: 300; line-height: 24px; padding: 35px 0;}
}
.c-counter_circle{
	margin-top: 30px;
	.c-counter_bg{background: rgba(0, 0, 0, 0) url("../images/counter_bg.png") no-repeat scroll 5px 5px;   padding-top: 20px; width: 230px; position: relative; height: 225px; margin: auto;}
	.c-counter_bg span {width: 200px; height: 200px; display: block; border-radius: 50%; background-color: #2a2d3c; float: left; right: 0; position: absolute;}
	.c-counter_text{
		max-width: 175px; position: absolute; top: 0; left: 0;
		h4{color: #2a2e3c; font:300 18px "Roboto"; text-transform: uppercase; margin: auto;}	
		span{color: #2a2e3c; font:300 18px "Roboto";}
	}
} 
.c-counter_circle .c-counter_bg:hover{  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg);}
@media (max-width: 767px) {
	.c-counter_circle > div.col-lg-4 {float: none; margin: auto; max-width: 320px;}
	.c-counter_circle .c-counter_text h4,.c-counter_circle .c-counter_text span{font-size: 14px;}
}
/*
PRICE
*/
#c-price .c-section_content{padding-bottom: 200px;}
.c-price{padding:0; background: #4a4e5c; text-align: center;}
.c-single_price{
	display: block;  background: #FFFFFF; margin:0 45px; text-align: left; 
	div.row{padding: 50px;}
	h3{margin: auto; color: #2a2e3c; font-size: 18px; text-transform: uppercase;}
	p {color: #2a2e3c; font-size: 16px; font-weight: 300; line-height: 30px; margin: auto; padding: 20px 0;}
	span.c-price_range{font-size: 30px; font-weight: 300;}
	span.c-price_type{color: #2a2e3c; font-size: 16px; font-weight: 300; padding-left: 10px;}
	.c-old_price span.c-price_range{color: #2a2e3c; position: relative;}
	.c-old_price span.c-price_range::after{left: 2px; top: 50%; position: absolute; content: ""; height: 1px; width: 100%; background: #aaabaf;}
	.c-old_price{padding-bottom: 10px;}
	.c-price_button{padding-top: 30px;}
	.c-price_button a{@include border-radius(5px); color: #eef5fc; display: inline-block; font-size: 16px;  min-width: 120px; padding: 10px 0; text-align: center; background: #00a888;  float: right;}
}
.c-price .row > img {bottom: -90px; left: -60px; position: absolute;}
.c-price div div.row > div:last-child p{padding-bottom: 2px;}

@media (max-width: 1279px) {
	.c-single_price{margin: 0 40px;}
	.c-price .row > img {bottom: -75px; left: -35px; max-width: 250px;}
}
@media (max-width: 1023px) {
	#c-price .c-section_content{padding-bottom: 95px;}
	.c-single_price {float: none; margin: auto auto 87px; max-width: 400px;}
}
@media (max-width: 979px) {
	.c-single_price {float: none; margin: auto auto 87px; max-width: 400px;}
}
@media (max-width: 767px) {
	.c-single_price div.row{padding: 20px;}
	.c-single_price p{font-size: 14px; line-height: 20px;}
	.c-price .row > img{display: none;}
	.c-single_price{margin-bottom: 50px;}
	#c-price .c-section_content{padding-bottom: 0;}
}	
/*
CLIENT LOGO
*/
.c-client_logos{background: #f1f7fc; padding: 70px 0;}
.c-client_logos ul{padding: 0; text-align: center;}
.c-client_logos li{display: inline-block; margin: 0 65px;}
.c-client_logos li:nth-child(1){margin-left: 0;}
.c-client_logos li:last-child{margin-right: 0;}
.c-client_logo_list img {opacity: 0.7; @extend .c-transtion_fast;}
.c-client_logo_list img:hover{opacity: 1;}
@media (max-width: 1279px) {
	.c-client_logos li{margin: 0 30px;}
}
@media (max-width: 767px) {
	.c-client_logos li{margin: 15px 10px;}
}
/*
CUSTOMER REVIEW
*/ 
.c-customer_review .row{position: relative;}
.c-review_list{padding-top: 50px;}
.c-review_list div.owl-item{float: left; max-width: 350px;  margin: 0 15px; background: #f1f7fc;}
.c-customer_review{
	position: relative;
}
.c-review_nav{
	bottom: 0; height: 65px; margin: auto; position: absolute; top: 0; width: 100%;
	span {background-repeat: no-repeat; cursor: pointer;display: inline-block; height: 32px; text-indent: -9999px; position: relative; top: 20px; width: 19px;}
	div.c-arrow_left span {background-image: url("../images/nav_prev.png"); position: relative; }
	div.c-arrow_right span {background-image: url("../images/nav_next.png");}
	.c-arrow_right{position: absolute; right: -90px;}
	.c-arrow_left{position: absolute; left: -100px;}
	span:hover{background-position: 0 -32px;}
}
.c-review_list div.owl-item{
	padding: 35px 20px; position: relative;
	img{float: left; margin-left: -30px; margin-top: -80px;}
	h2{color: #2a2e3c; font-size: 24px; text-transform: uppercase; margin: auto; float: left; padding-left: 20px; max-width: 175px;}
	span{font-size: 14px; font-weight: 300; color: #2a2e3c; float: left; padding-left: 20px; text-transform: uppercase; }
	p{color: #2a2e3c; font-size: 16px; font-weight: 300; line-height: 30px; margin: auto; padding: 20px 0;}
}
@media (max-width: 1400px) {
	.c-review_nav .c-arrow_left{left: -60px;}
	 .c-review_nav .c-arrow_right{right: -60px;}
}
@media (max-width: 1279px) {
	 .c-review_list div.owl-item span{font-size: 12px;}
	 .c-review_list div.owl-item h2{font-size: 18px;}
	 .c-review_nav .c-arrow_left{left: -20px;}
	 .c-review_nav .c-arrow_right{right: -20px;} 
}
@media (min-width: 1024px) and (max-width: 1200px){
	 .c-review_list div.owl-item img{max-width: 105px;}
	.c-review_list div.owl-item{max-width: none; margin: 35px 5px;}
}
@media (max-width: 1023px) {
	.c-review_nav .c-arrow_left{left: 0;}
	.c-review_nav .c-arrow_right{right: 0;}
}
@media (max-width: 767px) {
	.c-review_nav{display: none;}
	.c-review_list div.owl-item{max-width: 1000px;}
	.c-review_list div.owl-item img{margin: auto; display: block; float: none;}
	.c-review_list div.owl-item{margin: auto;}
	.c-review_list div.owl-item p{font-size: 14px; line-height: 20px;}
	.c-review_list div.owl-item span{display: block; width: 100%; text-align: center; float: none; padding: 0;}
	.c-review_list div.owl-item h2{float: none; display: block; max-width: none; padding: 0; text-align: center; margin-top: 10px;}


}
/*
CONTACT
*/
.c-ask_question{
	padding-right:0; 
	h2{background: #2a2e3c; font-size: 18px; color: #eef5fc; font-weight:300px; line-height: 18px; margin: auto; padding: 18px 20px; text-transform: uppercase;}
	input,textarea{margin:30px auto auto; display: block; border: 1px solid #c4c5c9; color: #b6b7ba; font-size: 16px; padding: 15px; width: 100%; font-family: "Lato"; @include border-radius(2px); resize: none;}
	button{background: #00a888 none repeat scroll 0 0; @include border-radius(5px); border: none; margin-top: 30px;  color: #eef5fc; display: inline-block; font-size: 16px; min-width: 120px; padding: 10px 0; text-align: center; text-transform: capitalize;}
}
.c-contact_accordian{
	padding-left: 0;
	.c-single_accordian{margin-bottom: 20px;}
	.c-accordian_detail{display: none;}
	.c-accordian_title span{font-size: 18px; text-transform: uppercase; font-weight: 300; display: inline-block; cursor: pointer; padding-left: 30px; background: url("../images/plus_icon.png") no-repeat; background-position: left center; position: relative;}
	.c-accordian_title span:after{content: ""; display: block;  width: 100%; height: 32px; left: 0; top: 36px; position: absolute; display: none;}
	.c-open .c-accordian_title span {pointer-events: none; background-image: url("../images/minus_icon.png");}
	.c-accordian_detail{background: #f1f7fc; margin-top: 30px;}
	.c-open.c-single_accordian .c-accordian_detail{display: block;}
	.c-open.c-single_accordian span::after{display: block;}
	.c-text_accordian{padding: 45px;}
	.c-list_accordian{padding:30px 0;}
	.c-list_accordian > div:nth-child(2n+2){background: #e4eff9;}
	.c-list_accordian > div{padding: 12px 12px 12px 15px;}
	.c-list_accor_single{
		span,a{font-weight: 300; color: #2a2e3c; font-size: 16px; position: relative;}
	}
	.c-list_accor_single .c-small_txt{font-size: 14px; padding-left: 20px;}
	i{position: absolute; left: 0; top: 3px;}
	.c-accordian_detail > div > div:last-child span,.c-accordian_detail > div > div:last-child a{padding-left: 22px}
	.c-social_accordian span{font-size: 16px; font-weight: 300; color: #2a2e3c;}
	.c-social_accordian ul{padding: 0; margin-top: 15px;}
	.c-social_accordian li{display: inline-block; position: relative; background: #2a2e3c; text-align: center; line-height: 40px; width: 58px; height: 40px; margin-right: 25px; @extend .c-transtion;}
	.c-social_accordian li a{color: #FFFFFF; font-size: 22px; display: block; i{position: static;}}
}
@media (max-width: 1279px) {
	.c-contact_accordian{ .c-list_accor_single{ span,a{ font-size: 14px; }}}
	.c-contact_accordian .c-accordian_title span{font-size: 14px;}
	.c-ask_question{padding-right: 15px;}
	.c-ask_question input, .c-ask_question textarea,.c-ask_question button{margin-top: 15px;}
}
@media (max-width: 767px) {
	.c-contact_accordian{padding-left: 15px;}
	.c-ask_question{padding-right:15px; }
	.c-contact_accordian .c-text_accordian{padding: 15px;}
	.c-contact_accordian .c-accordian_detail{margin-top: 50px;}
}
/*
FOOTER
*/
.c-footer{
	background: #2a2e3c; padding-top: 95px;
	.c-footer_block{float: left; margin-left: 90px;}
	h2{color: #eef5fc; font-size: 18px; text-transform: uppercase; margin: auto auto 25px;}
	ul{padding-left: 0;}
	li{line-height: 32px;}
	li a{font-size: 16px; color: #eef5fc; font-weight: 300; text-transform: capitalize;}
	.c-footer_navigation{padding-bottom: 100px; border-bottom: 1px solid #808692;}
	.c-copyright p{font-size: 14px; color: #eef5fc; margin: auto; text-align: center; padding: 10px 0;}
	span{display: block; font-size: 18px; color: #eef5fc; font-weight: 300;}
	a.c-footer_call{color: #2a2e3c; display: inline-block; background: #b9bfc8; font-size: 16px; padding: 10px 25px; margin: 10px 0;}
	p{color: #eef5fc; line-height: 20px;}
}

@media (max-width: 1279px) {
	.c-footer .c-footer_block{margin-left: 60px;}
}
@media (max-width: 1023px) {
	.c-footer .c-footer_block{margin-left: 20px;}
}
@media (max-width: 767px) {
	.c-footer li{line-height: 22px;}
	.c-footer h2{margin-bottom: 10px;}
	.c-footer .c-footer_block {margin: auto; padding-bottom: 25px; padding-left: 20px; width: 100%;}
	.c-footer .c-footer_navigation{padding-bottom: 50px;}
}
/*
SERVICES PAGE
*/
.c-page_title h1{color: #2a2e3c; font-size: 30px; margin: auto; padding: 80px 0 35px; text-align: center; text-transform: uppercase;}
.c-single_service_list{margin-bottom: 40px;}
.c-services_listing {padding-bottom: 40px;}
.c-single_service_list_text{
	background: #f1f7fc; padding: 25px 50px; margin-top: 10px;
	h2{color: #2a2e3c; text-transform: uppercase; font-size: 24px; margin: auto auto 5px;}
	ul{padding: 0; margin-bottom: 15px;}
	li{font-size: 15px; font-weight: 300; line-height: 24px; padding-left: 10px; position: relative;}
	li::before{position: absolute; content: "-"; display: block; left: 0; top: 0px;}
	span{font-size: 30px; font-weight: 300;}
}

 
/* CONVENNIENT SERVICE */
.c-conv_service{
	.c-section_content{padding-top: 30px; padding-bottom: 72px;}
	.c-conv_service_left {
		float: left; width: 32%;  
		h3{font-size: 18px; text-transform: uppercase; color: #eef5fc; font-weight: 300; margin-bottom: 20px;}
		p{font-size: 16px; color: #eef5fc; margin-bottom: 0; font-weight: 300;}
		a{color: #00a888;}
	}
	.c-conv_service_right {float: right; position: relative; width: 66%;}
	.c-conv_service_right img {position: absolute; top: -200px; right: 0;}
}
.c-conv_service{padding-top: 140px;}

@media (max-width: 1279px) {
	.c-conv_service .c-conv_service_left{width: 40%;}
}

@media (max-width: 1023px) {
	.c-conv_service .c-conv_service_left{width: 100%;}
	.c-conv_service .c-conv_service_right{width: 48%;}
	.c-single_service_list_text{margin-top: 0}
	.c-conv_service{padding-top: 50px;}
}
@media (max-width: 767px) {
	.c-conv_service .c-conv_service_left{padding: 0 15px;}
	.c-conv_service_right{display: none;}
}
/* GET ADVICE */
.c-get_advice{
	padding: 40px 0; background: #eef5fc; position: relative; text-align:center;
	h2{font-size: 24px; color: #2a2e3c; text-transform: uppercase; margin: auto; font-weight: 300; display: inline-block; margin: 0 35px;}
	a{display: inline-block; margin: 0 35px;}
}
@media (max-width: 1023px) {
	.c-get_advice{padding: 20px;}
	.c-get_advice h2{margin:0 0 10px;}
}
/* NEWS SLIDE SHOWS */
#c-news_slide .row{position: relative;}
.c-news_slider{
	.c-single_news_list{border-bottom: none;}
} 
/*
PRICES PAGE
*/
.c-price_listing{
	.c-single_service_list_text{margin-top: 0;}
	p{margin-bottom: 0; font-size: 15px;}
}
/* CORPORATE */
.c-corporate_block{
	margin-bottom: 60px;
	p{line-height: 26px;}
	ul{padding: 0; margin-top: 30px;}
	li{color: #2a2e3c; padding-bottom: 10px;}
}
@media (max-width: 1023px){
	.c-corporate_block li{padding-bottom: 5px;}
	.c-corporate_block p{line-height: 22px;}
}
@media (max-width: 767px){
	.c-single_service_list_text{padding:25px 30px;}
	.c-single_service_list_text h2{font-size: 20px;}
}	
/*
CONTACT US PAGE
*/
.c-contact_us{
	.c-contact_area{padding-bottom: 80px;}
}

/*
NEWS PAGE
*/
.c-news_block{
	margin-bottom: 50px;
	> img{margin: auto;}
	.c-news_block_detail {background: #f1f7fc none repeat scroll 0 0; padding: 90px 70px 40px; margin-top: -55px;}
	h2{font-size: 18px; text-transform: uppercase; margin: auto; padding-bottom: 10px;}
	ul{padding: 0; text-align: right;}
	ul li:first-child a {color: #00a888;}
	ul li a {color: #2a2e3c;font-size: 14px; font-weight: 300; text-transform: uppercase;}
	ul li:first-child {float: left; margin: auto;}
    ul li {display: inline-block; margin-left: 20px;}
    span{font-weight: 300; color: #2a2e3c; font-size: 14px; text-transform: uppercase;}
    p {line-height: 24px; margin-bottom: 30px; padding-top: 8px;}
}
.c-side_bar_single{
	margin-bottom: 60px;
	h3{margin: auto; font-size: 18px; color: #2a2e3c; text-transform: uppercase; margin-bottom: 30px;}
	> ul{padding-left: 0;}
	li{padding:10px 0;  border-bottom: 1px solid #ececed;}
	li:first-child{padding-top: 0;}
	li a{font-size: 14px; color: #2a2e3c; text-transform: uppercase;}
	li a:hover{color: #00a888;}
	span{padding-left: 5px;}
}
.c-news_navigator{
	margin-bottom: 100px;
a{background-repeat: no-repeat; width: 19px; height: 32px; cursor: pointer; display: inline-block;}
a:hover{background-position: 0px -32px;}
a.c-nav_prev{background-image: url("../images/nav_prev.png"); float: left;}
a.c-nav_next{background-image: url("../images/nav_next.png"); float: right;}
}

@media (max-width: 1023px){
	.c-news_block .c-news_block_detail{padding: 75px 20px 25px;}
}
@media (max-width: 767px){
	.c-side_bar{max-width: 98%; margin: auto; float: none; clear: both;}
}
/*
SINGLE NEWS PAGE
*/
.c-single_news{
	margin-top: 75px;
	.c-two_col{padding-bottom: 80px; border-bottom: 1px solid #ececed; margin-bottom: 40px;}
    .c-side_bar{padding-top: 75px;}
    .c-page_title h2{padding-top: 0; text-align: left; padding-bottom: 35px; color: #2a2e3c; font-size: 30px; margin: auto; text-transform: uppercase;}
    .c-news_slider .c-single_news_list{border-bottom: 1px solid #ececed; padding-bottom: 35px;}
    .c-news_list_content ul{bottom: 32px;}
}
.c-single_news_head{
	padding:0 60px 40px; 
	h2{ font-size: 30px; margin: auto; padding-bottom: 3px; text-transform: uppercase;}
	span{color: #2a2e3c; font-size: 14px; font-weight: 300; text-transform: uppercase;}
}
.c-single_news_content{
	padding: 40px 60px 20px;
	p{line-height: 26px;}
	img{margin: 10px auto;}
}
.c-single_news_foot{
	padding:0 60px; 
	ul{padding: 0; text-align: right;}
	li,span,a{display: inline-block; font-weight: 300; font-size: 14px; text-transform: uppercase; color: #2a2e3c; line-height: 28px;}
	span{margin-right: 10px; position: relative;}
	> ul >li:first-child{
		float: left;
		li{background: #2a2e3c none repeat scroll 0 0; display: inline-block; height: 30px; line-height: 30px; margin-right: 25px; position: relative; text-align: center; width: 44px; @extend .c-transtion;}
		li a{color: #FFFFFF; display: block;}
	}
	> ul > li:last-child{margin-left: 55px;}
	li ul{display: inline-block;}
}
.c-comment{
	.c-comment_section{padding-top: 40px;}
	background: #f4f9fd; margin-top: 80px; padding: 70px 0;
	.c-comment_listing{ 
		li{padding-bottom: 40px; padding-top: 35px;}
		ul ul li:last-child{padding-bottom: 0;}
		ul ul{padding-left: 60px; padding-top: 35px;}
		h3{font-size: 18px; text-transform: uppercase; color: #2a2e3c; padding-left: 135px;}
		img{left: -35px; position: absolute; top: -90px;}
		.c-comment_header{padding-left: 95px; color: #2a2e3c; font-size: 14px; text-transform: uppercase; font-weight: 300;}
		.c-comment_header a{color: #2a2e3c; font-size: 14px; text-transform: uppercase; font-weight: 300;}
		.c-reply{float: right;}
		p{padding-top: 30px; line-height: 24px; margin: auto;}
		.c-comment_details{background: #FFFFFF; border-top: 8px solid; padding: 20px 40px 40px; position: relative;}
	}
}
@media (max-width: 1023px) {
	.c-single_news_head{ padding: 0 20px 40px;}
	.c-single_news_foot{padding: 0 10px;}
	.c-single_news_content{ padding: 40px 15px 20px;}
	.c-single_news_foot > ul > li:first-child li{margin-right: 10px;}
}
@media (max-width: 767px) {
	.c-comment .c-comment_listing ul ul{padding-left: 0;}
	.c-comment .c-comment_listing .c-reply{float: none;}
	.c-comment_date{display: none;}
	.c-comment .c-comment_listing h3{padding-left: 115px; font-size: 16px;}
	.c-comment .c-comment_listing .c-comment_details{padding-left: 15px; padding-right: 15px;}
	.c-page_title h1{padding: 40px 0 20px;}
	.c-comment_section .row{margin: 0;}
	.c-single_news_foot{text-align: center;}
	.c-single_news_foot > ul > li:first-child{width: 100%; margin-bottom: 5px;}
}
/*
ABOUT US PAGE
*/
.c-bg_strip{background: #2a2e3c; height: 220px; position: relative; z-index: 9;}
.c-our_expert{
	background: url("../images/expert_bg.jpg") no-repeat; padding-bottom: 80px; background-size: 100% 100%;
	.c-expert_detail{
		padding: 0 50px 50px; background: #FFFFFF; margin-top: -220px;
		img{position: relative; z-index: 999; left: -50px;}
		ul li{background: #2a2e3c none repeat scroll 0 0; display: inline-block; height: 40px; line-height: 40px; margin-right: 10px; position: relative; text-align: center; width: 58px;}
		ul {padding: 0; margin: 20px 0 10px;}	
		li a {color: #ffffff; display: block; font-size: 20px;}
		h3{font-size: 24px; margin: auto; text-transform: uppercase; padding-top: 30px;}
		span{font-weight: 300; text-transform: uppercase; font-size: 14px;}
	}
}
.c-we_can{
	.c-bg_strip{height: 150px;}
	padding: 80px 0; margin-bottom: 80px; position: relative; 
	div.c-we_can_text{background: #e4eff9; position: absolute; top: 0; left: 0; right: 0; z-index: 9999; text-align: center; padding-top: 60px; padding-bottom: 60px;}
	p{max-width: 730px; margin: auto;}
	h2{text-transform: uppercase; font-size: 30px; margin: auto auto 20px;}

}
.c-step_blocks {
	margin-bottom: 115px;
	i {background: #e4eff9 none repeat scroll 0 0; display: inline-block; float: left; font-size: 32px; height: 70px; line-height: 70px; text-align: center; width: 105px;}
	span{font-size: 18px; font-weight: 300; text-transform: uppercase; display: inline-block; position: relative; left: -20px; top: 48px; float: left;}
	.c-step_bottom{padding-top: 45px;}
	.c-step_three{position: relative;}
}
.c-step_blocks_home{
	margin-top: 60px;
}
.c-free_consult{
	.c-training_left p{line-height: 28px;}
	.c-training_left span{font-size: 18px; text-transform: uppercase;}
	span,a{display: inline-block; margin: auto;}
	a{background: #b9bfc8 none repeat scroll 0 0; color: #2a2e3c; font-size: 16px; margin-left: 15px; padding: 10px 25px;}
	.c-consult_call{margin-top: 50px;}
}
.c-achivment{
	.c-achivment_list{padding-top: 40px;}
	padding-top: 50px; padding-bottom: 65px;
	.c-achivment_box{position: relative; padding-top: 40px; padding-left: 40px;}
	.c-achivment_box::before{position: absolute; content:""; display: block; top: 0; left: 0; width: 105px; height: 75px; background: #e4eff9;}
	span{display: block; position: relative; z-index: 9999; font-weight: 300;}
	span.c-achivment_number{font-size: 48px; line-height: 48px;}
	span.c-achivment_name{font-size: 16px; text-transform: uppercase; padding-top: 5px; padding-left: 5px;}

}
@media (max-width: 1278px){
	.c-our_expert .c-expert_detail{padding: 0 25px 43px;}
	.c-free_consult a{padding: 10px;}
}
@media (max-width: 1023px){
	.c-achivment .c-achivment_box{padding-top: 50px;}
	.c-achivment span.c-achivment_number {font-size: 36px; line-height: 36px;}
	.c-achivment span.c-achivment_name{padding-top: 2px; font-size: 13px;}
	.c-step_blocks span{font-size: 14px; top: 30px;}
	.c-our_expert .c-expert_detail img{left: auto;}
	.c-our_expert .c-expert_detail{padding-left: 5px; padding-right: 5px;}
	.c-our_expert .c-expert_detail h3{font-size: 18px;}
	.c-our_expert .c-expert_detail ul li{margin-right: 5px;}
	.c-achivment_list .row{margin: auto;}
}
@media (max-width: 767px){
	.c-step_blocks{padding-left: 30px;}
	.c-achivment_list{text-align: center;}
	.c-achivment .c-achivment_box{display: inline-block; margin-bottom: 15px;}
	.c-achivment > div > div.row{margin: auto;}
	.c-free_consult a{ margin-left: 10px; padding: 10px 5px;}
	.c-free_consult .c-consult_call{margin-top: 10px;}
	.c-free_consult .c-training_left p{line-height: 22px;}
	.c-step_blocks span{font-size: 14px; position: static; padding: 5px 0 0 5px;}
	.c-step_three,.c-step_four{float: none !important;}
	.c-step_blocks .c-step_bottom{padding-top: 0px;}
	.c-step_blocks .col-lg-6{padding-top: 10px;}
	.c-achivment .c-achivment_box {display: block; margin: auto auto 15px; max-width: 131px;}
	.c-our_expert .c-expert_detail{margin: auto auto 20px; max-width: 300px;}
	.c-our_expert{background-size: cover;}
	.c-expert_list > div:nth-child(1) div.c-expert_detail{margin-top: -220px;}
	.c-step_blocks{padding-top: 30px;}
}

/*
OFFLINE PAGE
*/
.c-offline{background: url("../images/offline_bg.jpg") no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;	}
.c-offline_box{
	max-width: 900px; margin: auto; width: 100%; background: #e4eff9; padding: 30px; left: 0; right: 0; top: 0; bottom: 0; max-height: 250px; margin: auto; position: absolute;
	ul{padding: 0; list-style: none; text-align: right; clear: both;}
	.c-offline_info {bottom: 30px; position: absolute; right: 30px; float: right; > a{float: right; margin-bottom: 5px;}}
	h1{font-size: 60px; font-weight: 300; text-transform: uppercase;}
	span{font-size: 16px; font-weight: 300; text-transform: uppercase; display: inline-block;}
	a{font-size: 16px; display: inline-block;  min-width: 170px; font-weight: 300;} 
	i{padding-right: 2px;}
	li {padding: 3px 0;}
}	

@media(max-width: 1023px){
	.c-offline_box{width: 98%;}
}
@media(max-width: 639px){
	.c-offline_box h1{font-size: 30px;}
	.c-offline_box {span,a{font-size: 14px;} a{min-width: 145px;}}
}

/*
ERROR PAGE
*/
.c-error{background: url("../images/error_bg.jpg") no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;	}
.c-error_box{
	.clearfix{position: relative;}
	max-width: 700px; position: absolute; width: 100%; background: #e4eff9; padding: 30px; left: 70px; bottom: 70px;
	h1{font-size: 60px; font-weight: 300; text-transform: uppercase; padding-bottom: 40px;}
	h2{font-size: 50px; font-weight: 300; margin: auto;}
	span{font-weight: 300; font-size: 16px; text-transform: uppercase;}
	a{position: absolute; bottom: 0; right: 0;}
}

@media(max-width: 1023px){
	.c-error_box{max-width: 600px;}
}

@media(max-width: 767px){
	.c-error_box{width: 98%; left: 0; right: 0; margin: auto; text-align: center; bottom: 20px;}
	.c-error_box a{position: static; margin-top: 10px; display: inline-block;}
	.c-error_box div{width: 100%;}
}

/*
COLOR CUSTOMIZER
*/
.c-customizer.c-customizer_toggle {left: 0;}
.c-customizer{width: 290px; background: #FFFFFF; position: fixed; top: 30%; left: -290px; padding: 30px 20px; @extend .c-transtion; z-index: 99999;}
.c-selector h1{font: 20px/22px "lato","sans-serif"; color: #000000; text-align: center; margin: auto;} 
.c-color_section{margin-top: 15px; padding-top: 15px; border-top: 1px solid #e8e8e8;}
.c-color_section span{font: italic 15px/18px "lato","sans-serif"; color: #000000; text-align: center; display: block;}
.c-color_section p{font: italic 13px/18px "lato","sans-serif"; color: #969696;}
.c-color_section ul{padding: 0;}
.c-color_section li{width: 50px; height: 50px; margin: 10px 4px 0; cursor: pointer; display: inline-block; @include border-radius(5%); @extend .c-transtion; border: 2px solid transparent;}
.c-shape_selector a{width: 50px; height: 50px; display: inline-block; @include border-radius(5%);}
.c-color_section li.c-color_selector:hover{border-color: #e5e5e5;}
.c-color_selector .c-color_1{background: #dd2342;}
.c-color_selector .c-color_2{background: #8cc739;}
.c-color_selector .c-color_3{background: #ba6222;}
.c-color_selector .c-color_4{background: #cc0000;}
.c-color_selector .c-color_5{background: #076AFC;}
.c-color_selector .c-color_6{background: #7aba7a;}
.c-color_selector .c-color_7{background: #00aff0;}
.c-color_selector .c-color_8{background: #ff9900;}
.c-shape_selector li{border: 1px solid #696969; background-repeat: no-repeat; background-size: 44px 25px; background-position: center 90%;}
.c-shape_selector li.c-shape_01{background-image: url("../images/shape_01.jpg");}
.c-shape_selector li.c-shape_02{background-image: url("../images/shape_02.jpg");}
.c-shape_selector li.c-shape_03{background-image: url("../images/shape_03.jpg");}
.c-shape_selector li.c-shape_04{background-image: url("../images/shape_04.jpg");}
.c-customizer i {background: #ffffff none repeat scroll 0 0; cursor: pointer; color: #000000; font-size: 27px; height: 50px; line-height: 50px; position: absolute; right: -50px; text-align: center; top: 0; width: 50px;}
.c-body_overlay::after {background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0; content: ""; height: 100%; position: fixed; top: 0; width: 100%; z-index: 999;}